.choose-date {
    margin: 25px 0;
    padding-left: 8px;
}
.choose-date-tips {
    color: #d9534f;
    display: block;
}

.chart {
    margin-top: 25px;
}

.node--internal circle {
    fill: #fff;
}

.node text,
.line-amount {
    cursor: pointer;
    font: 12px sans-serif;
}

.tree-link {
    fill: none;
    stroke-width: 1.5px;
}
.tree-link.active {
    stroke: red;
    stroke-width: 2px;
}

.top-30-amount {
    top: 66px;
    right: 10px;
    display: none;
    position: fixed;
}
.top-30-amount ul {
    color: #fff;
    border-radius: 3px;
    padding: 25px 25px 15px;
    background-color: rgba(9, 9, 9, .7);
}
.top-30-amount li {
    line-height: 1.5;
    list-style-type: none;
}
.top-30-amount .top-30-close {
    top: 0;
    right: 10px;
    color: #fff;
    opacity: .5;
    position: absolute;
}
.top-30-amount .top-30-close:hover {
    opacity: 1;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
