/* 网站字体 */
html,
body {
    font: 14px/1.5 -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

.disabled {
    pointer-events: none;
}

/* 网页公用头部 */
.header {
    height: 55px;
    line-height: 55px;
    background-color: #090909;
}

.header .header__nav >a {
    color: #fff;
    padding: 0 15px;
    font-size: 16px;
    text-decoration: none;
}
.header .header__nav >a:hover,
.header .header__nav .header__nav--active {
    color: #49a8f4;
}

.header .header__logo h4 {
    margin: 0;
    color: #fff;
    line-height: 55px;
}

.header .header__welcome {
    color: #fff;
    text-align: right;
}

.header .header__welcome .fa-sign-out {
    cursor: pointer;
}
.header .header__welcome .fa-sign-out:hover {
    color: #49a8f4;
}

/* 定制表格样式 */
.n-table {
    border-collapse: collapse;
}
.n-table--hover {
    cursor: pointer;
}
.n-table,
.n-table td,
.n-table th {
    border: 1px solid #ddd!important;
}

