header {
    height: 55px;
    line-height: 55px;
    background-color: #090909;
}

header a {
    color: #fff;
    padding: 0 15px;
    font-size: 16px;
}
header a:hover,
header a.active {
    color: #49a8f4;
}

header .logo h4 {
    margin: 0;
    color: #fff;
    line-height: 55px;
}

.table-notek {
    font-family: "Microsoft Yahei";
}
.table-notek,
.table-notek td,
.table-notek th {
    border: 1px solid #ddd!important;
}
.table-notek {
    border-collapse: collapse;
}

